h2{
	color: #444;
}
form{
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	padding: 20px 10px;
}
input{
	width: 100%;
	padding: 10px 5px;
	margin-bottom: 15px;
}
form button{
	padding: 5px 10px;
	color: white;
	background-color: green;
	border: solid 1px #ddd;
}
